<div id="psf-autocomplete-dropdown">
    <% if autocomplete_dropdown # && (last_id = autocomplete_dropdown.to_a.last.last rescue nil) %>
        <% first = true %>
        <% autocomplete_dropdown.each do |id, item| %>
            <% if first
                first = false
            else %>
                <hr />
            <% end %>
            <%= link_to item[:name], resource_path(id), class: "btn color-#{item[:character]}" %>
        <% end %>
        <% if false # cropped %>
            <span class="btn"> ... </span>
        <% end %>
    <% end %>
</div>
