<div id="psf-autocomplete-dropdown">
    <% if @suggest.present? %>
        <div class="column1" style="float:left;">
            <% first = true %>
            <% @suggest.each do |id, item| %>
                <% if first
                    first = false
                else %>
                    <hr />
                <% end %>
                <%= link_to item[:name], resource_path(id), class: "btn color-#{item[:character]}" %>
            <% end %>
            <% if false # cropped %>
                <span class="btn"> ... </span>
            <% end %>
        </div>
    <% end %>
    <% if @blends_suggest.present? # && (last_id = autocomplete_dropdown.to_a.last.last rescue nil) %>
        <div class="column2" style="float:left; <%= 'margin-left: 12px; padding-left: 12px; border-left: 1px solid #ddd;'.html_safe if @suggest.present? %>">
            <% first = true %>
            <% @blends_suggest.each do |id, item| %>
                <% if first
                    first = false
                else %>
                    <hr />
                <% end %>
                <%= link_to item[:name], blend_path(id), class: "btn", style: "background-color: ##{item[:color]}; color: rgba(0,0,0,0.7);" %>
            <% end %>
            <% if false # cropped %>
                <span class="btn"> ... </span>
            <% end %>
        </div>
    <% end %>
</div>
