<table class="table table-condensed">
    <thead>
        <tr>
            <th><%= resource_class.human_attribute_name :name %></th>
            <th><%= resource_class.human_attribute_name :cas %></th>
            <th><%= resource_class.human_attribute_name :sensory_tags %></th>
        </tr>
    </thead>
    <tbody>
        <%= render collection %>
    </tbody>
</table>
