<tr>
    <td>
        <%= link_to substance.name, substance_path(substance), style: "width: 100%; display:block;" %>
    </td>
    <td>
        <%= substance.cas %>
    </td>
    <td>
        <%= substance.sensory_tags %>
    </td>
    <td class="r">
        <%= number_with_precision substance.price_in_eur_per_100g, precision:0 %>
    </td>
</tr>