<tr>
    <td>
        <%= link_to substance.name, substance_path(substance), style: "width: 100%; display:block;" %>
    </td>
    <td>
        <%= substance.cas %>
    </td>
    <td>
        <%= substance.sensory_tags %>
    </td>
</tr>