<div class="panel-body buttons-container">
    <%= last_date = nil %>
    <% collection.order_updated_at.each do |record| %>
        <% if last_date && last_date != record.updated_at.to_date %>
            <span class="small-unit"><%= l last_date %></span><br/>
        <% end %>
        <%= link_to record.to_s, record, colored(record, class: "btn btn-default btn-sm") %>
        <% last_date = record.updated_at.to_date %>
    <% end %>
    <span class="small-unit"><%= l last_date %></span><br/>
</div>