<div class="panel-body buttons-container">
    <%= last_date = nil %>
    <% collection.order_creation_at.each do |record| %>
        <% if last_date && last_date != record.creation_at %>
            <span class="small-unit"><%= l last_date %></span><br/>
        <% end %>
        <%= blend_link record, o: colored(record, class: "btn btn-default btn-sm") %>
        <% last_date = record.creation_at %>
    <% end %>
    <span class="small-unit"><%= l last_date rescue nil %></span><br/>
</div>