/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$icon-font-path: "bootstrap/";

@import "bootstrap";

$substance-primary-color: #7274d3;
$blend-primary-color: #00b293;

body {
  a {
    cursor: pointer;
  }
}

body #header {
  
}

body #content {
  padding: 20px 0 40px;
  
  table {
    td.score {
      font-size: 10px;
      color: #999;
      text-align: right;
    }
  }

  .panel.blend,
  .panel.substance {
    .panel-heading {
      a {
        color: white;
        font-weight: normal;
      }
    }
    .small-label {
      font-size: 11px;
      color: #666;
    }
  }
  
}

body #footer {
  padding: 0 0 80px;
}



body {
  
  .panel.panel-primary.substance {
    border-color: $substance-primary-color;
  }
  .panel.panel-primary.substance > .panel-heading {
    background-color: $substance-primary-color;
    border-color: inherit;
  }


  .panel.panel-primary.blend {
    border-color: $blend-primary-color;
  }
  .btn.btn-primary.blend,
  .panel.panel-primary.blend > .panel-heading {
    background-color: $blend-primary-color;
    border-color: $blend-primary-color;
  }
  
  ul.nav.navbar-nav,
  .dropdown-menu {
    li.active.substance a {
      background-color: $substance-primary-color;
      color: white;
    }
    li.active.blend a {
      background-color: $blend-primary-color;
      color: white;
    }
  }
  
  .row.dilution + .row.dilution {
    border-top: 1px solid #eee;
    padding-top: 1ex;
    margin-top: 1ex;
  }
  
  .form-group {
    select.form-control {
      float: left;
    }
    select.form-control + select.form-control {
      margin-left: 1em;
    }
    select.form-control.year {
      width: 7em;
    }
    select.form-control.month {
      width: 9em;
    }
    select.form-control.day {
      width: 5em;
    }
  }
  
  form {
    .has-error {
      input, textarea, select {
        background: rgba(255,0,0,0.1);
      }
    }
  }
  
  form {
    select.form-control.dilution.need-filtering {
      option[disabled] {
        display: none;
      }
    }
  }
  
  .buttons-container {
    .btn {
      margin-bottom: 4px;
    }
    .btn.btn-xs {
      margin-bottom: 3px;
    }
  }
  
  table.table {
    thead td {
      font-size: 12px;
      font-weight: bold;
      color: #999;
    }
    td.r,th.r {
      text-align: right;
    }
    td.red {
      background: rgba(255,0,0,0.3);
      color: #b22;
    }
  }
  p.warning {
    border-top: 1px solid rgba(255,0,0,0.7);
    border-bottom: 1px solid rgba(255,0,0,0.7);
    text-align: center;
    padding: 1ex 1em;
    color: #b22;
  }
  
  .small-unit {
    font-size: 11px;
    color: #777;
  }
  
  #psf-autocomplete-dropdown {
    z-index: 5;
    position: absolute; background: white; padding: 1ex 0;
    top: 43px; left: 0;
    border: 1px solid #fff;
    -webkit-box-shadow: 3px 3px 16px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 16px -7px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 16px -7px rgba(0,0,0,0.75);
    .btn {
      display: block;
      text-align: left;
    }
    hr {
      margin: 4px 0 4px 0;
    }
  }
  
  
  // COLOR select for substances categories
  
  .color-base { // amber, musk, cedar, sandal
    background-color: #ebc8a6 !important;
    border-color: #ebc8a6;
  }
  .color-base-heart { // sweet, herbal
    background-color: #eabfd1 !important;
    border-color: #eabfd1;
  }
  .color-heart { // floral
    background-color: #c7afee !important;
    border-color: #c7afee;
  }
  .color-heart-top { // ozone, fresh, fruity
    background-color: #adc5f4 !important;
    border-color: #adc5f4;
  }
  .color-top-floral { // flower
    background-color: #bfedc9 !important;
    border-color: #bfedc9;
  }
  .color-top-citral {  // citral
    background-color: #e7ff9e !important;
    border-color: #e7ff9e;
  }
  
  .character-strip {
    height: 4ex;
    span.segment {
      display:inline-block;
      height: 100%
    }
  }
  
}
