<% substance_character.each do |key, ar| %>
    <span class="label label-default color-<%= key %>" style="color: rgba(0,0,0,0.3);" data-original-title="<%= ar.first %>" data-tooltip="click"><%= key.upcase %></span>
<% end %>
