<% opt ||= {} %>
<div class="form-group">
    <%= f.label c, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9 <%= :'has-error' if c.in?(f.object.errors) %>">
        <%= f.text_area c, {:class => "form-control"}.merge(opt) %>
    </div>
</div>
<hr/>